<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>

Hi, {{ current_user.login }}!

<td><a href="{{ url_for('logout') }}">Logout</a></td>
<h2>Messages</h2>
<form method="post" action="/add_message" enctype=multipart/form-data>
    <input type="text" name="text">
    <input type="text" name="tag">
    <button type="submit">Add message</button>
</form>

<h3>Messages list</h3>
{% for message in user_messages %}
<div><b>{{ message.created_at }}</b> {{ message.text }}&nbsp;
    {% for tag in message.tags %}
        <b>#{{ tag.text }}</b>
    {% endfor %}
</div>
{% endfor %}

<img src="data:image/png;base64,{{ image }}" alt="kit"/>

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<form method="POST" action="/upload" enctype='multipart/form-data'>
    <input type="file" name="file">
    <input type="submit" value="Submit">
</form>

<br>
<div>Change password</div>
<form method="POST" action="/change_password">
    <table>
        <tr>
            <td>Current Password</td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td>New Password</td>
            <td><input type="password" name="new_password"></td>
        </tr>
        <tr>
            <td><input type="submit" value="Change password"></td>
        </tr>
    </table>
</form>

<div>Delete user</div>
<form method="POST" action="/delete_user">
    <table>
        <tr>
            <td>Are you sure?</td>
            <td><input type="submit" value="Delete user"></td>
        </tr>
    </table>
</form>

</body>
</html>