<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Main page</title>
</head>
<body>
{% if current_user.is_authenticated %}
  Hi, {{ current_user.login }}!
{% endif %}
<td><a href="{{ url_for('logout') }}">Logout</a></td>
<h2>Messages</h2>
<form method="post" action="/add_message">
    <input type="text" name="text">
    <input type="text" name="tag">
    <button type="submit">Add message</button>
</form>

<h3>Messages list</h3>
{% for message in messages %}
<div><b>{{ message.created_at }}</b> {{ message.text }}&nbsp;
    {% for tag in message.tags %}
        <b>#{{ tag.text }}</b>
    {% endfor %}
</div>
{% endfor %}

<img src="data:image/png;base64,{{ image }}" alt="kit"/>


</body>
</html>